# Node modules
node_modules/

# Firebase configuration files
.firebase/

# Optional: Package lock
package-lock.json

indexTest.html
myScriptTest.js
word-frequency-sorter.html
wordDataSimple.js
wordDataSimple_test.js