body {
    margin: 0px;
    justify-items: center;
    height: 100vh;
    width: 100vw;
    font-size: 3rem;
    position: relative;
}

div {
    margin: 0px;
    display: flex;
    justify-items: center;
}

#UAtext {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 7rem;
    font-size: 3rem;
    word-wrap: break-word;
    top: 1rem;
    text-align: center;
}

input {
    font-size: 3rem;
    width: 3rem;
    height: 3rem;
    justify-items: center;
}

button {
    font-size: 3rem;
    justify-items: center;
}

button:hover {
    background-color: rgb(41, 43, 38);
    color: white;
}

span {
    font-size: 3rem;
    justify-items: center;
}

@keyframes shake {
    0%, 100% { transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
    20%, 40%, 60%, 80% { transform: translateX(10px); }
}

.shake {
    animation: shake 0.5s;
}

#enterButton {
    position: relative;
    border-radius: 7px;
    border: none;
    margin: 2rem;
    /* border: 1px solid red; */
}

#toggleButton {
    border-radius: 8px;
    border: none;
    height: 5rem;
    width: 5rem;
    position: absolute;
    left: 0rem;
    bottom: 5rem;
}

#connectedText {
    position: relative;
}

.darkmode {
    background-color: rgb(80, 80, 80);
    color: white;
    background-image: radial-gradient(circle at 50% 30%,rgb(110, 110, 110), rgb(28, 28, 28));
}

.lightmode {
    background-color: rgb(200, 200, 200);
    color: black;
    background-image: radial-gradient(circle at 50% 30%, white, rgb(70, 70, 70));
}